<div class="row no-margin fmp-dashboard">
  <div class="col-md-7 col-lg-7 fmp-dashboard-text pl-0">
    FM Performance Dashboard {{fmpBranchInfo.title}}
  </div>
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-md-2 col-lg-2 fmp-dashboard-date-range text-right-aligned">
    <div class="main-div">
      <div class="cursor-pointer text fmp-dashboard-date-range-text" [ngClass]="rangeType === 'week' ? 'active' : ''"
        (click)="range('week')">Week</div>
      <div class="cursor-pointer text fmp-dashboard-date-range-second-text"
        [ngClass]="rangeType === 'month' ? 'active' : ''" (click)="range('month')">Month</div>
      <div class="cursor-pointer text fmp-dashboard-date-range-second-text"
        [ngClass]="rangeType === 'quarter' ? 'active' : ''" (click)="range('quarter')">Quarter</div>
      <div class="cursor-pointer text fmp-dashboard-date-range-third-text"
        [ngClass]="rangeType === 'year' ? 'active' : ''" (click)="range('year')">Year</div>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 p-0 text-right-aligned fmp-dashboard-date-picked" (click)="openCalendar()">
    <div class="fmp-dasboard-date-picker cursor-pointer picked col-lg-8 col-md-8">
      <div>
        <img src="../../../../assets/img/calendar.svg" alt=""> {{fromData}} - {{toData}}
      </div>
    </div>
  </div>
  <div *ngIf="showCalendar" class="fmp-dashboard-content">
    <div class="content-bg">
      <div class="row no-margin br-btm" *ngIf="showYearInfo">
        <div class="col-md-4 col-lg-4 arrow-left cursor-pointer" (click)="decreaseYear()">
          <img src="../../../../assets/img/arrows-left.svg" alt="">
        </div>
        <div class="col-md-4 col-lg-4 cursor-pointer">
          {{selectedYear}}
        </div>
        <div class="col-md-4 col-lg-4  arrow-left cursor-pointer" (click)="increaseYear()">
          <img src="../../../../assets/img/right-chevron.svg" alt="">
        </div>
      </div>
      <div class="row no-margin br-btm" *ngIf="showMonthInfo">
        <div class="col-md-4 col-lg-4 arrow-left cursor-pointer">
          <img src="../../../../assets/img/arrows.png" (click)="decreaseMonth()" alt="">
        </div>
        <div class="col-md-4 col-lg-4 cursor-pointer" (click)="displayCalendar('month')">
          {{Month}}
        </div>
        <div class="col-md-4 col-lg-4 cursor-pointer arrow-left">
          <img src="../../../../assets/img/right-chevron.svg" alt="" (click)="increaseMonth()">
        </div>
      </div>
      <div class="row calendar-info" *ngIf="showYearCalendar">
        <div class="col-md-4 col-lg-4 p-0 cursor-pointer mt-10" [ngClass]="active === i ? 'active-tab' : ' '"
          *ngFor="let itemYear of year;let i = index" (click)="selectYears(i)">
          {{itemYear}}
        </div>
      </div>
      <div class="row calendar-info" *ngIf="showMonthCalendar">
        <div class="col-md-4 col-lg-4 p-0 cursor-pointer" [ngClass]="active === i ? 'active-tab' : ' '"
          *ngFor="let itemMonth of monthArray;let i = index" (click)="selectMonth(i)">
          {{itemMonth}}
        </div>
      </div>
      <div class="row calendar-info" *ngIf="showQuarterCalendar">
        <div class="col-md-12 col-lg-12 p-0 cursor-pointer" [ngClass]="active === i ? 'active-tab' : ' '"
          *ngFor="let itemQuarter of quarterArray;let i = index" (click)="sendDate(itemQuarter,i)">
          {{itemQuarter.quarter}} ({{itemQuarter.month}})
        </div>
      </div>
      <div class="row calendar-info" *ngIf="showWeeks">
        <div class="col-md-12 col-lg-12 p-0 cursor-pointer" [ngClass]="active === i ? 'active-tab' : ' '"
          *ngFor="let itemWeek of weeks;let i = index" (click)="sendDate(itemWeek, i)">
          {{itemWeek.start}} - {{itemWeek.end}} {{itemWeek.week}}
        </div>
      </div>
    </div>
  </div>
</div>