<div class="container" style="height: 600px !important;">
	<div class="row">
  <div class="col-lg-5 col-lg-5 col-lg-10 col-xs-9 bhoechie-tab-container">
    <div class="titleText mt-4" >Step 3 - Confirmation</div>
  </div>
  <!-- <div class="row"> -->
    <div class="col-lg-5 col-lg-5 col-lg-10 col-xs-9" style="padding-left: 0px !important; padding-right: 0px !important;">
      <div class="col-md-12 col-lg-12">
        <div class="form-group">
          <label style = "margin-top: 40px; font-size: 13px;">SUBMIT BUTTON LABEL</label>
          <input type="text" [disabled]="viewOnly" [(ngModel)]="surveydata.submitBtnLabel" class="form-control border-style"  pattern="^[0-9]+"/>
        </div>
      </div>
    </div>
    <!-- </div> -->
        <!--<div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
        <span style = "padding-left: 0px !important;" class="col-lg-5 col-lg-6 col-lg-10 col-xs-9">
      <label style = "margin-top: 40px;">Review And Submit</label>
      <br>
      <label style = "font-size: 11px; ">User can review before submission</label>
    </span>
    </div>
    <div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
      <span class="col-md-2 col-lg-2">
      <mat-slide-toggle class="pull-left" checked=[true] style = "margin-top: 40px;"></mat-slide-toggle>
    </span>
</div>
           

<div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
    <span style = "padding-left: 0px !important;" class="col-lg-5 col-lg-6 col-lg-10 col-xs-9">
  <label style = "margin-top: 40px;">Save And Resume</label>
  <br>
  <label style = "font-size: 11px; ">Allow user to store draft and continue later</label>
</span>
</div>
<div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
  <span class="col-md-2 col-lg-2">
  <mat-slide-toggle class="pull-left" checked=[true] style = "margin-top: 40px;"></mat-slide-toggle>
</span>
</div>-->

<div class="col-lg-5 col-lg-5 col-lg-10 col-xs-9" style="padding-left: 0px !important; padding-right: 0px !important;">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label style = "margin-top: 40px; font-size: 13px;">SUBMISSION CONFIRMATION MESSAGE</label>
        <input type="text" [disabled]="viewOnly" [(ngModel)]="surveydata.submitMsg" class="form-control border-style"  pattern="^[0-9]+"/>
      </div>
    </div>
  </div>

  <!--<div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
    <span style = "padding-left: 0px !important;" class="col-lg-5 col-lg-6 col-lg-10 col-xs-9">
  <label style = "margin-top: 40px;">Show Button</label>
  <br>
  <label style = "font-size: 11px; ">Allow user to another survey from <br> confirmation page</label>
</span>
</div>
<div class="col-lg-5 col-lg-4 col-lg-4 col-xs-9">
  <span class="col-md-2 col-lg-2">
  <mat-slide-toggle class="pull-left" checked=[true] style = "margin-top: 40px;"></mat-slide-toggle>
</span>
</div>-->
  </div>
  </div>