.container{
    background: #fff;
    height: 500px !important;
}
.titleText{
    color:#ef7f1a;
    font-size: 20px !important;
    font-weight: bold;
  }
  .border-style {
    background: #FFE8C615 0% 0% no-repeat padding-box;
    border: 1px solid #EF7F1A48;
    border-radius: initial;
}