.approval-btn-view {
    border: 1px solid transparent;
    height: 25px;
    font-size: 13px;
    margin-right: 5px;
    color: #ff0000;
  }
  .approval-btn-dot {
    border: 1px solid transparent;
    height: 16px;
    margin-top: 7px;
    font-size: 13px;
    margin-right: 5px;
    color: #ff0000;
  }
  .width-175{
      width:175px !important;
  }

  .td {
      vertical-align: middle;
  }

  .lead-managment-card {
    height: 60vh !important;
  }

  .links-class{
      cursor: pointer !important;
      color: #EF7F1A !important;
  }
  .fontheading {
    color: #939393;
    font-weight: bold;
    font-size: 10px;
  }
  .fontdata {
      font-size: 16px;
      font-weight: 600;
  }
  .fontdatatext {
    font-size: 16px;
    font-weight: 600;
  }
  .pull-right {
    float: left;
}
  .table-card table tbody tr{
    border-bottom: 10px solid #F5F7FA;
  }
  .table-card table tbody tr td{
      border-bottom: none !important;
      vertical-align: middle;
  }