* {
  font-size: 18px;
}

.no-btn {
  color: green;
}

.yes-btn {
  color: red;
}
.center {
  margin: auto;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option
{
  white-space: initial !important;
}
