.sm-w{
    width: 60px;
}

.md-w{
    width: 120px;
}
.lg-w{
    width: 190px;
}
.br-10{
    border-radius: 10px;
}
.lead-managment-card {
    height: 60vh !important;
}
.mt-40 {
    margin-top: 10px !important;
}
.table-card table thead th {
    color: black !important;
    text-align: left;
}
.table-card table tbody tr td {
    text-align: left;
    vertical-align: middle;
}
.btn-outline-primary {
    color: #11891F !important;
    border-color: #11891F !important;
}
.btn-outline-primary:hover {
    color: #11891F !important;
    background-color: #fff !important;
    border-color: #11891F !important;
}