.img-box1 {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.img-box {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.main-img {
    height: 18vh;
    width: 13vw;
    border: 1px dashed #AAAAAA7E;
   
}