.btn-outline-primary {
    color: #11891F !important;
    border-color: #11891F !important;
}
.btn-outline-primary:hover {
    color: #11891F !important;
    background-color: #fff !important;
    border-color: #11891F !important;
}
.component-heading {
    font-size: 14px;
}
.create-btn {
    width: 110px !important;
    font-size: 16px;
}
.imgMargin {
    margin-left: 10px;
    margin-right: 10px;
}
.disableDiv{
    pointer-events:none;
}
.builder-class{
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 0%;
}