.form-control{
    border-radius: 0px;
    background: #FFE8C615 0% 0% no-repeat padding-box;
    border: 1px solid #EF7F1A48;
}
.section-control{
    border-top: none;
    border-left: none;
    border-right: none;
}
mat-slider {
    width: 300px;
  }
  .tandcField{
    white-space: pre-wrap;
  }