.fm-main-logo-right {
  width: 30%;
}

.first {
  background-image: url(../../../../assets/img/login-1.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  // display: table;
  // width: 100%;
}
.fl-right {
  float: right;
}
