.table-header{
    font-size: 120%;
}
.modal-backdrop{
    z-index: -1;
}
.font-medium{
    font-size: 80%;
}

.download-button{
    color: rgb(69, 69, 250);
}

.download-button:hover{
    text-decoration: underline;
    cursor: pointer;
}