<div class="component-heading">
  <div class="row product-management-layout">
    <div class="col-md-4 col-lg-4">Category</div>
    <div class="col-md-8 col-lg-8 row add-category-box no-gutter">
      <div class="col-md-12 col-lg-12 row">
        <div class="col-md-12 col-lg-6 search-position">
          <input type="text" class="form-control txt-overflow" placeholder="Search Category"
            (keyup)="searchCategory($event)" [(ngModel)]="selectedSearchText">
          <img src="assets/img/icon_search.svg" alt="">
        </div>
        <div class="row col-md-12 col-lg-6 p-0 lang-list-view justify-content-end mt-md-2 mt-lg-0 mt-xl-0">
          <div class="px-2 mr-2 cursor-pointer" (click)="langSelected(chip)" *ngFor="let chip of availableLang"
            [ngClass]="{ 'completed-chip-style': this.selectedLang === chip.identity }">
            {{chip.identity}}
          </div>
          <button class="create-btn" mat-button [routerLink]="['/product-management/category/create-category']"
        *ngIf="permissionSets.write" routerLinkActive='active'>Add
        Category</button>
        </div>
        
      </div>
     
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-7 col-lg-7">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <button class="create-btn px-3" [disabled]="isMoveDisable || !permissionSets.edit"
            (click)="moveToBranch()">Move Selected <span style="font-size: large;">&#10132;</span></button>
        </div>
      </div>
      <div class="table-card mt-2">
        <div class="table-responsive categories-table" infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScrollDown()" [scrollWindow]="false"> 
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  <mat-checkbox (change)="selectAll($event)" [checked]="selectCheck" matTooltip="Select/Deslect all">
                  </mat-checkbox>
                </th>
                <th *ngFor="let item of tableHeaders">
                  <div>
                    {{item.header}}
                  </div>
                </th>
                <th *ngIf="permissionSets.edit">
                  <div>
                    Activity
                  </div>
                </th>
              </tr>
            </thead>
              <tbody >
                <tr *ngFor="let item of listCategories.records | paginate: {id: '2' , itemsPerPage: tableViewRequestData.recordsPerPage, currentPage: tableViewRequestData.pageNumber , totalItems:listCategories.totalRecords};let i = index;">
                  <td class="text-center">
                    <mat-checkbox [checked]="item.checked" [disabled]="item.isPresent" (change)="updateCheck($event,i)"
                      matTooltip="{{(item.isPresent && !item.checked)?'Product Disabled':''}}">
                    </mat-checkbox>
                  </td>
                  <td>
                    {{item.name}}
                  </td>
                  <td>
                    {{(item.category)?item.category.products.length : 0}}
                  </td>
                  <td>
                    {{item.description}}
                  </td>
                  <td *ngIf="permissionSets.edit">
                    <div class="row no-margin">
                      <div class="p-0 col-lg-12 col-md-12">
                        <div class="ml-5">
                          <img class="cursor-pointer" (click)="editCategory(item)"
                            src="../../../../../assets/img/edit.svg" alt="">
                        </div>
                        <div class="delete-edit">
                          Edit
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <div *ngIf="listCategories.totalRecords === 0" class="no-data">
                  <div>
                    No Data Found
                  </div>
                </div>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-5">
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <ng-select class="category-warehouse select-drop-down" [items]="branchData" bindLabel="name"
            [(ngModel)]="selectedBranch" (search)="searchFieldKey($event)" (change)="selectBranch($event)"
            placeholder="Select Warehouse"></ng-select>
        </div>
        <div class="col-md-4 col-lg-6">
          <button class="create-btn move-btn-delete  d-md-none d-lg-block d-xl-block" (click)="removeProduct()"
            [disabled]="isRemoveProduct || (!permissionSets.edit && !permissionSets.delete)"><img class="arrow-up"
              src="assets/img/delete.svg" alt=""> Remove Selected </button>
              <button class="create-btn move-btn-delete d-md-block d-lg-none d-xl-none" (click)="removeProduct()" [disabled]="isRemoveProduct || (!permissionSets.edit && !permissionSets.delete)"><img
                class="arrow-up" src="assets/img/delete.svg" alt=""></button>
        </div>
      </div>
      <div class="table-card mt-2">
        <div class="table-responsive categories-table">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">
                  <mat-checkbox (change)="selectAllBranch($event)" [checked]="selectCheckBranch"
                    matTooltip="Select/Deslect all">
                  </mat-checkbox>
                </th>
                <th *ngFor="let item of branchTableHeaders">
                  <div>
                    {{item.header}}
                  </div>
                </th>
                <th *ngIf="permissionSets.edit">
                  <div>
                   Sequence No
                  </div>
                </th>
              </tr>
            </thead>
            
              <tbody cdk-scrollable style="height:400px;overflow-y: auto;">
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let item of listCategoriesByBranch.records | paginate: {id: '1' , itemsPerPage: tableViewRequestData.recordsPerPage, currentPage: tableViewRequestData.pageNumber , totalItems:listCategoriesByBranch.totalRecords} let i = index" cdkDrag>
                  <td class="row" *cdkDragPreview style="width: 500px;">
                    <div class="text-center col-md-1">
                    <mat-checkbox [checked]="item.checked" (change)="updateCheckBranch($event,i)">
                    </mat-checkbox>
                    </div>
                  <div class="col-md-5 text-center">
                    {{item.name}}
                    </div>
                  
                  <div class="col-md-5 text-center">
                    {{item.description}}
                    </div>
                  
                  <div class="col-md-1 text-center" *ngIf="permissionSets.edit">
                    {{i+1}}
                    </div>
                  </td>
                  <td class="text-center">
                    <mat-checkbox [checked]="item.checked" (change)="updateCheckBranch($event,i)">
                    </mat-checkbox>
                  </td>
                  <td>
                    {{item.name}}
                  </td>
                  <td style="padding-left: 25px;">
                    {{item.description}}
                  </td>
                  <td *ngIf="permissionSets.edit" style="padding-left: 35px;">
                    {{i+1}}
                  </td>  
                </tr>
                <div *ngIf="listCategoriesByBranch.totalRecords === 0" class="no-data">
                  <div>
                    No Data Found
                  </div>
                </div>
                </div>
              </tbody>
           
          </table>
        </div>
        <button class="create-btn save-btn pagination-card" *ngIf="listCategoriesByBranch.records.length>0"
          [disabled]="isSaveProduct" (click)="saveCategory()">Save</button>
          <pagination-controls class="pagination-card" *ngIf="listCategoriesByBranch.totalRecords > 10" previousLabel="" id="1" nextLabel=""
          (pageChange)="getPage($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>